[build]
builder = "nixpacks"

[build.nixpacks]
pkgs = ["nodejs_18"]

[deploy]
startCommand = "node index.js"
healthcheckPath = "/health"
healthcheckTimeout = 300
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 3
